<section class="section__services">
    <div class="container">
        <h2 class="heading2">{{ componentData.title }}</h2>
        <div class="card">
            {% for item in componentData.items %}
                <div class="service-item">
                    <div class="service-item__index">
                        {{ item.index }}
                    </div>
                    <div class="service_item__content">
                        <div class="service_item__icon">
                            <img src="{{ item.icon }}"/>
                        </div>
                        <div class="service-item__title">{{ item.title }}</div>
                        <div class="service-item__desc">{{ item.desc | raw }}
                        </div>
                        <div class="service-item__readmore">
                            <a href="">{{ item.button.title }}</a>
                        </div>
                    </div>
                    <div class="service-item__image">
                        <img src="./assets/images/sections/services/item1.png"/>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
